        @font-face {
            src: url("../fonts/Alegreya-Regular.ttf");
            font-family: "Alegreya-Regular";
        }

        @font-face {
            src: url("../fonts/AlegreyaSansSC-Bold.ttf");
            font-family: "Alegrey.aSansSC-Bold";
        }

        @font-face {
            src: url("../fonts/AlegreyaSansSC-Light.ttf");
            font-family: "AlegreyaSansSC-Light";
        }

        html,
        body {
            margin: 0;
            padding: 0;
            background: #FAFAF1;
        }

        .flexbox {
            display: flex;
        }

        a {
            text-decoration: none;
            color: #2D2D2D;
        }

        .title_container {
            max-width: 1280px;
            margin: 90px auto 60px auto; 
            box-sizing: border-box;
        }

        .title_container::after {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            margin: 0 auto;
            padding-bottom: 90px;
            border-bottom: solid 1px #C7C7C7;
        }

        h2.title {
            margin: 0;
            font-size: 60px;
            text-align: center;
            font-family: "AlegreyaSansSC-Bold";
        }

        h3 {
            font-size: 24px;
            font-family: "AlegreyaSansSC-Bold";
        }

        .bread_crumb {
            margin: 30px 0 60px 0;
            padding: 0 9px;
        }

        .bread_crumb p {
            position: relative;
            margin: 0;
            display: inline-block; 
        }

        .bread_crumb_arrow {
            display: inline-block; 
            width: 13px;
            height: 13px;
            vertical-align: center;
        }

        .content {
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
        }

        .content_full {
            width: 100%;
        }

        /*###############################################################################################################################*/

        #header {
            position: fixed;
            z-index: 99;
            top: 0;
            left: 0;
            width: 100%;
            transition: all 0.5s;
        }

        #header .header_container {
            height: 60px;
            border-top: 1px solid #FAFAF1;
            background: #FAFAF1;
            transition: all 0.5s;
        }

        #header nav {
            max-width: 1280px;
            margin: 0 auto;
            overflow-x: scroll;
            overflow-y: hidden;
        }

        #header nav::-webkit-scrollbar {display:none}
        #header .list {
            width: 100%;
            list-style: none;
            margin: 0;
            padding: 0;
            transition: all 0.5s;
        }

        #header .list .item_container01,
        #header .list .item_container02 {
            width: 50%;
        }

        #header .list_item {
            width: 100%;
            padding: 12px 0 0 0;
        }
/*
        #header .list_item01 p {
            color: #ce9063;
        }*/

        #header .list a {
            display: block;
            color: #2D2D2D;
            font-size: 20px;
        }

        #header .container {
            width: 100%;
            justify-content: center;
        }

        #header .list_item .icon {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 0 8px 0 0;
        }

        #header .list_item .icon01 {
            background: url(../img/logo.svg);
        }

        #header .list_item .icon02 {
            background: url(../img/landscape.svg);
        }

        #header .list_item .icon03 {
            background: url(../img/greening.svg);
        }

        #header .list_item .icon04 {
            background: url(../img/service.svg);
        }

        #header .list_item .icon05 {
            background: url(../img/blog.svg);
        }

        #header .list_item .icon06 {
            background: url(./img/contact.svg);
        }

        #header .list_item p {
            display: inline-block;
            text-align: center;
            line-height: 30px;
            margin: 0;
        }


        #header .list .separation_line {
            width: 1px;
            height: 50px;
            margin: 4px 10px 0 10px;
            border-left: 1px solid #C7C7C7;
        }

        #header .list .separation_line_none {
            display: none;
            width: 1px;
            height: 50px;
            margin: 4px 10px 0 10px;
            border-left: 1px solid #C7C7C7;
        }

        @media screen and (max-width: 992px) {
            #header .container {
                flex-direction: column;
                align-items: center;
            }

            #header .list_item {
                padding: 4px 0 0 0;
            }

            #header .list_item .icon {
                margin: 0;
            }

            #header .list_item p {
                line-height: 24px;
            }
        }

        @media screen and (max-width: 768px) {

            #header .list a {
                font-size: 16px;
                line-height: 22px;
            }

            #header .list_item {
                padding: 5px 0 0 0;
            }

        }

        @media screen and (max-width: 576px) {

            /*#header .list {
                flex-wrap: wrap;
            }*/

            #header .list .item_container01,
            #header .list .item_container02 {
                width: 100%;
                height: 30px;
                flex-wrap: nowrap;
            }

            #header .list a {
                font-size: 14px;
            }

            #header .list_item {
                padding: 4px 0 0 0;
            }

            #header .list_item .icon {
                display: none;
            }

            #header .list .separation_line {
                height: 20px;
                margin: 4px 5px 0 5px;
            }

            #header .list .separation_line_none {
                display: block;
                height: 16px;
                margin: 4px 5px 0 5px;
            }
        }

        /*###################################################################################################################################*/


        footer {
            width: 100%;
            background: #2D2D2D;
        }

        #footer {
            width: 100%;
            max-width: 1920px;
            height: 180px;
            border-top: 1px solid #2D2D2D;
        }

        #footer .social_container {
            margin: 60px 0 30px 0;
            justify-content: center;
        }

        #footer a {
            color: #FAFAF1;
        }

        #footer .fb, .tw{
            padding-right: 9px;
            margin-right: 9px;
            border-right: 1px solid #FAFAF1;
            box-sizing: border-box;
        }

        .copyright {
            text-align: center;
            color: #FAFAF1;
        }

        /* ###################################################################################################################################### */

        .run_top {
            position: fixed;
            bottom: 20px;
            right: 20px;
            z-index: 99;
            padding: 5px 10px;
            border: 1px solid #C7C7C7;
            border-radius: 5px;
            background: #FAFAF1;
            color: #2D2D2D;
            box-shadow: 1px 1px 5px rgba(45, 45, 45, 0.1), -1px -1px 5px rgba(45, 45, 45, 0.1), 1px -1px 5px rgba(45, 45, 45, 0.1), -1px 1px 5px rgba(45, 45, 45, 0.1);
            transform: scaleY(0);
            transition: all 0.5s;
            cursor: pointer;
        }

        .run_top_arrow {
            display: inline-block;
            width: 17px;
            height: 17px;
        }

        .run_top p {
            display: inline-block;
            vertical-align: top;
            margin: 0;
        }